.About {
    width: 100vw; 
    height: auto;
    margin: 0 auto; 
    text-align: center; 
    padding-bottom: 40px;
  }
  

  .About h1 {
    font-size: 2em; 
  }
  
  .About h2 {
    font-size: 1.8em; 
    margin-bottom: 20px;

  }

  .About h3 {
    margin: 0 auto;
    font-size: 1.3em;
  }
  
  .About p {
    font-size: 1.1em; 
    padding: 5px 0; 
    margin-bottom: 10px;;
  }
  
  .About img {
    margin: auto; 
    max-width: 80%; 
  }
  
  .teamMembers {
    display: flex;
    justify-content: center;
    gap: 80px;
  }
  
  .About a {
    color:#FFB0B0;
    text-decoration: none;
    font-size: 1.1em; 
  }
  
  .About a:hover {
    color: #B2A59B;
  }
  