.house-list {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-bottom: 40px;
    text-align: center;
    gap: 2rem;
    
   
}

.house-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    
   
}

.house-container img {
    width: 200px;
    
    
}


.house-container img:hover {
    width: 220px;
    box-shadow: 1px 1px 1px 1px;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  margin: 5px;
}

.link-button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid white;

}