.house-list {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 60px;
    justify-content: center;
}



.house-row1 img {
    width: 200px;
}


.house-row1 img:hover {
    width: 240px;
}

