
.footer {
    width: 100vw;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
     background: linear-gradient(to left, rgb(252, 108, 132), lightpink);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
  
    
    
  
  }
  
  .link {
    font-style: italic;
    color: rgb(0, 0, 0);
    font-size: 1rem;
  
  }

