
.footer {
    width: 100vw;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    background: linear-gradient(to left, #FFB0B0, lightpink);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
   
  
  
  }
  
  .link {
    font-style: italic;
    color: #6B6B6B;
    font-size: 1rem;
  
  }

