#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  width: 80vw;
  height: 10vh;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  color: white;
  padding: 10px;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.sidebar {
  height: 100vh;
  width: 20vw;
  position: fixed;

  color: white;
  background-color: azure;
  display: flex;
  flex-direction: column;
}


.footer {
  width: 80vw;
  height: 10vh;
  background-color:  lightgray;
  border-top: solid .5px black;
  
  

}

.link {
  font-style: italic;
  color: rgb(0, 0, 0);
  font-size: 1rem;

}

