@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/* https://colorhunt.co/palette/607274faeed1ded0b6b2a59b
  https://colorhunt.co/palette/0c2d57fc6736ffb0b0efecec

*/

/*

#6B6B6B
#FAEED1
#DED0B6
#B2A59B


#0C2D57
#FC6736
#FFB0B0
#EFECEC

*/

:root {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background:#EFECEC
;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;

  box-sizing: border-box;

 


}

.main-content {
  margin-top: 15vh; 
}

#root {

  margin: 0 auto;
  text-align: center;
  display: flex;
  overflow-x: hidden;
  height: 100%;
  color: #6B6B6B;



}


