@import url('https://fonts.googleapis.com/css?family=Varela+Round');


:root {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

.main-content {
  margin-top: 15vh; 
}

#root {

  margin: 0 auto;
  text-align: center;
  display: flex;
  overflow-x: hidden;
  height: 100%;
  color: white;

}


